<button mat-button [matMenuTriggerFor]="menu">Sort Products</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="sortProducts('price', 'high')">
    Price: High To Low
  </button>
  <button mat-menu-item (click)="sortProducts('price', 'low')">
    Price: Low To High
  </button>
  <button mat-menu-item (click)="sortProducts('rate', 'high')">
    Rate: High To Low
  </button>
  <button mat-menu-item (click)="sortProducts('rate', 'low')">
    Rate: Low To High
  </button>
</mat-menu>
