/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background: linear-gradient(to bottom, #333333, #000000);

  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

nav {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
}
